/* -------- Common Website Styling -------- */

@font-face {
  font-family: "mononoki";
  src: url("https://github.com/madmalik/mononoki/raw/refs/heads/main/export/mononoki-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "mononoki";
  src: url("https://github.com/madmalik/mononoki/raw/refs/heads/main/export/mononoki-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "mononoki";
  src: url("https://github.com/madmalik/mononoki/raw/refs/heads/main/export/mononoki-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "mononoki";
  src: url("https://github.com/madmalik/mononoki/raw/refs/heads/main/export/mononoki-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

html, body {
  height: fit-content;
}

:root {
  --dark-bg: 28, 28, 34;
  --bg-alpha: 0.7;
  --black: #000000;
  --white: #FFFFFF;
  --bg-color-rgb: #1C1C22;
  --bg-color-rgba: rgba(var(--dark-bg), var(--bg-alpha));

  --color-rosewater: #f2d5cf;
  --color-flamingo: #eebebe;
  --color-pink: #f4b8e4;
  --color-mauve: #ca9ee6;
  --color-red: #e78284;
  --color-maroon: #ea999c;
  --color-peach: #ef9f76;
  --color-yellow: #e5c890;
  --color-green: #a6d189;
  --color-teal: #81c8be;
  --color-sky: #99d1db;
  --color-sapphire: #85c1dc;
  --color-blue: #8caaee;
  --color-lavender: #babbf1;
  --color-text: #c6d0f5;
  --color-subtext1: #b5bfe2;
  --color-subtext0: #a5adce;
  --color-overlay2: #949cbb;
  --color-overlay1: #838ba7;
  --color-overlay0: #737994;
  --color-surface2: #626880;
  --color-surface1: #51576d;
  --color-surface0: #414559;
  --color-base: #303446;
  --color-mantle: #292c3c;
  --color-crust: #232634;
}

body {
  background-image: none;
  background-color: #00000000;

  min-height: 100%;
  margin: 0;

  text-align: center;
  font-family: Nova Flat, Ubuntu, Arial;
  color: #ffffff;
}

/* Play nice with DarkReader: turn off background replacement */
[data-darkreader-mode="dynamic"] body {
  background-image: none;
  background-color: #00000000;
}

.header {
  text-align: center;
  font-size: 24px;
  padding: 12px;
}

.img_back {
  background-image:
    linear-gradient( rgba(var(--dark-bg), var(--bg-alpha)),
                     rgba(var(--dark-bg), var(--bg-alpha)) ),
    url('/images/DSC03265-2-export.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

#navbar {
  position: sticky;
  float: left;
  top: 0;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #222;
}

#navbar li {
  display: inline-block;
  text-align: center;
  padding: 0;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  padding: 12px 14px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #04AA6D;
  color: white;
}
